/keystores
templates*
experiment
src/generated_datatypes.h
demo/addons

# Coverage testing
coverage/
*.gcda
*.gcno
*.gcov

# Godot 4+ specific ignores
demo/.godot/*
!demo/.godot/extension_list.cfg
!demo/.godot/global_script_class_cache.cfg

# Ignore library files but not the gdextension file
bin/
template/*
!template/web
template/web/*
!template/web/.gitkeep
extension/*
!extension/android
extension/android/*
!extension/android/.gitkeep
!extension/linux
extension/linux/*
!extension/linux/.gitkeep
!extension/macos
extension/macos/*
!extension/macos/.gitkeep
!extension/web
extension/web/*
!extension/web/.gitkeep
!extension/windows
extension/windows/*
!extension/windows/.gitkeep
!extension/*.gdextension
.sconsign*.dblite

# Ignore custom.py
custom.py

# Ignore generated compile_commands.json
compile_commands.json

# Binaries
*.a
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# Other stuff
*.log

# VSCode
.vscode/*
!.vscode/extensions.json
