[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.0
[submodule "libsodium"]
	path = libsodium
	url = https://github.com/jedisct1/libsodium
[submodule "gut"]
	path = gut
	url = https://github.com/bitwes/Gut
